@model IEnumerable<CRUD_JOB_ENTITY.Models.JobEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Job List</h1>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresdAt)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="fa fa-plus-square" aria-hidden="true"></i>Job</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresdAt)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Job"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Job" class="text-danger m-1" onclick="return confirm('Are you sure?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
